%h1= @account.name

%table.journal
  %thead
    %tr
      %td.account Transfer To
      %td.debit Debit
      %td.credit Credit
  - @account.memos.each do |memo|
    %tr.memo
      %td{:colspan=>3}= memo.text
    - memo.entries.each do |entry|
      %tr.entry
        - if entry.debit_account == @account
          %td.account= entry.credit_account.name
          %td.debit= entry.amount
          %td.credit
        - else
          %td.account= entry.debit_account.name
          %td.debit
          %td.credit= entry.amount

  
