= error_messages_for :account
- form_for @account do |f|
  %p
    = label :account, :name
    = f.text_field :name
    %br
    = label :account, :initial_balance
    = f.text_field :initial_balance
  = submit_tag
