= error_messages_for :account
- form_for @account do |f|
  %p
    = label :account, :name
    = f.text_field :name
    %br
    = label :account, :initialBalance
    = f.text_field :initialBalance
  = submit_tag
